@(form: Form[Application.AreaR])
<html>
<head>
    <title>ObservaTerra 2.1 - Registro</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
   <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dropotron.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/skel.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/skel-layers.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/init.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/skel.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style-noscript.css")" />
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
</head>
<body class="contact loading">

<!-- Cabecera -->
<header id="header">
    <h1 id="logo"><a href="index.html">Observaterra 2.1 <span> BY CORNER TEAM</span></a></h1>
		<nav id="nav">
			<ul>
				<li ><a href="perfilUsuario.html">Principal</a></li>
				<li><a href="datosUsuario.html">Datos</a></li>
				<li><a href="observacionesUsuario.html">Observaciones</a></li>
				<li class="current"><a href="addArea.html">Areas</a></li>
				<li><a href="orgadd.html">Organizaciones</a></li>
				<li><a href="@routes.Application.logout"class="button special">Salir</a></li>
			</ul>
		</nav>
</header>

<!-- Principal -->
<article id="main">

    <header class="special container">
        <span class="icon fa-envelope"></span>
        <h2>Crear un area</h2>
    </header>

    <!-- Contenedor -->
    <section class="wrapper style4 special container small">

        @if(form.hasGlobalErrors) {
        <p class="error">
            @form.globalError.message
        </p>
        }

        <!-- Formulario -->
        @helper.form(routes.Application.createArea) {
        <div class="content">
            <form>
                <div class="row half">
                    <div class="12u">
                        <input type="text" name="nombre" placeholder="Nombre" value="@form("nombre").value" />
                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        <ul class="buttons">
                            <button type="submit" class="button special">Agregar</button>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        }

    </section>

</article>

<!-- Footer -->
<footer id="footer">

    <span class="copyright">&copy; Arquitectura de Software. ObservaTerra 2.1.</span>

</footer>

    </body>
</html>