@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.dropotron.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/skel-layers.min.js"></script>
        <script src="js/init.js"></script>
            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/skel.css")" />
            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" />
            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style-noscript.css")" />


    </head>
    <body>
    <!-- Cabecera -->
			<header id="header" class="alt">
				<h1 id="logo"><a href="index.html">Observaterra 2.1 <span> BY CORNER TEAM</span></a></h1>
				<nav id="nav">
					<ul>
						<li class="current"><a href="index.html">Principal</a></li>
                        <li ><a href="datos.html">Datos</a></li>
                        <li ><a href="observaciones.html">Observaciones</a></li>
                        <li><a href="login.html" class="button special">Iniciar sesión</a></li>
						<li><a href="registro.html" class="button special">Registrarse</a></li>
					</ul>
				</nav>
			</header>

			<!-- Inicio -->
			<section id="banner">

				<div class="inner">

					<header>
						<h2>Informacion pagina principal</h2>
					</header>
					<p>AqUí IrÁ el texto de la portada<br />
					hecho por <a href="http://html5up.net">enlacegithub</a>.</p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Más Información</a></li>
						</ul>
					</footer>

				</div>

			</section>
			<!-- Principal -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-bar-chart-o"></span>
					<h2>AquÍ información para la gente que no estÁ registrada</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
				</header>




				<!-- Contenedor de graficos -->
					<section class="wrapper style3 container special">

						<header class="major">
							<h2>GRÁFICOS</strong></h2>
						</header>

						<div class="row">
							<div class="6u">

								<section>
									<a href="#" class="image feature"><img src="images/pic01.jpg" alt="" /></a>
									<header>
										<h3>Tabla 1</h3>
									</header>
									<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
								</section>

							</div>
							<div class="6u">

								<section>
									<a href="#" class="image feature"><img src="images/pic02.jpg" alt="" /></a>
									<header>
										<h3>Tabla 2</h3>
									</header>
									<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u">

								<section>
									<a href="#" class="image feature"><img src="images/pic03.jpg" alt="" /></a>
									<header>
										<h3>Tabla 3</h3>
									</header>
									<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
								</section>

							</div>
							<div class="6u">

								<section>
									<a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a>
									<header>
										<h3>Tabla 4</h3>
									</header>
									<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
								</section>

							</div>
						</div>

						<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">Ver más datos</a></li>
							</ul>
						</footer>

					</section>

			</article>

		<!-- Pie -->
			<footer id="footer">


								<span class="copyright">&copy; Arquitectura de Software. ObservaTerra 2.1.</span>
			</footer>

	</body>



</html>
