@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
   <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dropotron.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/skel.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/skel-layers.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/init.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/skel.css")" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style-noscript.css")" />


</head>
<body>
	<!-- Cabecera -->
	<header id="header" class="alt">
		<h1 id="logo">
			<a href="index.html">Observaterra 2.1 <span> BY CORNER
					TEAM</span></a>
		</h1>

		<nav id="nav">
			<ul>
				<li class="current"><a href="index.html">Principal</a></li>
				<li><a href="datos.html">Datos</a></li>
				<li><a href="observaciones.html">Observaciones</a></li>
				<li><a href="login.html" class="button special">Iniciar
						sesión</a></li>
				<li><a href="registro.html" class="button special">Registrarse</a></li>
			</ul>
		</nav>
	</header>

	<!-- Inicio -->
	<section id="banner">

		<div class="inner">

			<header>
				<h2>ObservaTerra21</h2>
			</header>
			<p>
				Nuestra página <a
					href="https://github.com/Arquisoft/ObservaTerra21">GitHub</a>.
			</p>
			<footer>
				<ul class="buttons vertical">
					<li><a href="#main" class="button fit scrolly">Miembros del equipo</a></li>
				</ul>
			</footer>

		</div>

	</section>
	<!-- Principal -->
	<article id="main">

		<header class="special container">
			<span class="icon fa-bar-chart-o"></span>
			<h2>Miembros del grupo</h2>
			<ul>
			<li>José Grana Fernández UO225183</li>
			<li>Noé Fernández Álvarez 227743</li>
			<li>Paula Díaz Puertas 224268</li>
			<li>Javier Palacio Cuenca UO182143</li>
			</ul>
		</header>


	</article>

	<!-- Pie -->
	<footer id="footer">


		<span class="copyright">&copy; Arquitectura de Software.
			ObservaTerra 2.1.</span>
	</footer>

</body>
</html>
