@(observations: List[Observation], countries: List[Country], indicators:
List[Indicator], organizations: List[Organization], form:
Form[Observation]) @import play.i18n._ @import helper.twitterBootstrap._

@main(Messages.get("list.observations")) {

<h1>@Messages.get("organizations")</h1>

<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Organizations</th>

		<th>Remove</th>
	</tr>
	@for(orgs <- organizations) {
	<tr>
		<td>@orgs.id</td>
		<td>@orgs.nombre</td> @for(org <- orgs.organizaciones) {
		<td>@orgs.organizaciones.nombre</td> }
		<td>@helper.form(routes.Admin.deleteOrganization(obs.id)) { <input
			type="image" src="@{routes.Assets.at("
			images/delete.gif")}" 
                      alt='@{Messages.get("delete.organization")}'>
			}
		</td>
	</tr>

	}
</table>

<h2>@{Messages.get("add.organization")}</h2>

@helper.form(action = routes.Admin.newOrganization()) {

@helper.inputText(form("value"))

<select name="countryId"> @for( country <- countries) {
	<option value="@country.code">@country.name</option> }
</select>

<select name="indicatorId"> @for( indicator <- indicators) {
	<option value="@indicator.code">@indicator.name</option> }
</select>

<input type="submit" value="@{Messages.get("create")}">

}

<h2>@Messages.get("upload.excel.file")</h2>

@helper.form(action = routes.API.uploadExcel, 'enctype ->
"multipart/form-data") {

<input type="file" name="excel">

<p>
	<input type="submit">
</p>

} }
